* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* navigation styles start */
nav {
    margin: 20px 5px 50px 5px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav ul li a {
    color: inherit;
}
nav ul li:hover {
    color: rosybrown;
}
/* navigation styles end */

/* about styles start */
.about-me {
    margin: 0 50px 100px 100px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 50px 0;
    
}

.about img {
    margin: 50px 50px 50px 100px;

}

.about div {
    margin: 100px 20px 20px 0px;
}

.about h1 {
    margin: 0px 0px 20px 0px;
}
/* about styles end */

/* work styles start */
.work {
    margin: 0 100px 50px 100px;
    padding: 50px 0px;
}

.section-title {
    text-align: center;
    width: 100%;
    margin: 100px 0 100px 0;
}

.work a {
    color: inherit;
}

.project {
    margin: 0 100px 50px 100px;
}

.project h3:hover {
    color: yellow;
    border-color: yellow;
}

.code-access {
    background-image: url(../images/code.jpg);
    background-size: cover;
    background-position: center;
    text-align: left;
    position: relative;
    border-radius: 10px;
}

.code-access h3 {
    color: white;
    margin: 0 0 20px 20px;
    position: absolute;
    bottom: 0;
    border: 3px;
    border-color: white;
    border-style: solid;
    padding: 5px;
    border-radius: 15px;
}

.future {
    background-image: url(../images/computer.jpg);
    background-size: cover;
    background-position: center;
    text-align: left;
    position: relative;
    border-radius: 10px;
    margin: 0 20px; 
}

.future h3 {
    color: black;
    position: absolute;
    left: 0;  
    border: 3px;
    border-color: black;
    border-style: solid;
    padding: 5px;
    border-radius: 15px;
    margin: 5px 0px 0px 5px
}
/* work styles end */

/* contact styles start */
.contact {
    border-top: 2px solid black;
    width: 80%;
    align-items: center;
    margin: 100px auto 100px auto;
    padding: 50px 0px;
}

.contact h2 {
    margin: 20px auto 50px auto;
}

.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 10px;    
}

.contact ul li {
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: rosybrown;
    color: white;
    font-size: 20px;
}

.contact ul li:hover {
    color: yellow;
}

.contact a {
    color: inherit;
    justify-content: space-between;
}
/* contact styles end */

.flex-row {
    display: flex;
}

/* media query for tablets and smaller
@media screen and (max-width: 768px) {
    .about img {
        max-width: 30%;
        margin: 50px 10px 50px 50px;
    }
}

/* media query for mobile phones and smaller */
/* @media screen and (max-width: 575px) {
    nav {
        font-size: 20px;
    }
    
    .about img {
        max-width: 60%;
        margin: 20px auto 10px auto;
    }

    .about div {
        max-width: 100%;
        margin: 10px auto 20px auto;
        text-align: center;
        font-size: 20px;
    }

    .work {
        margin: 10px 10px;
        padding: 10px;
    }
} */ 